body {
	background-color: white;
}


.outer-div
{
	padding: 30px;
}

.menu{
	text-align:center;
}
div{
	box-sizing: border-box;
}
.gb
{
	padding-top: 25px;
	background-color: #e0e0e0;
	margin: auto;
	width: 750px;
	height: 900px; 
	border-radius:10px;
	border:1px solid black;
}

.screen{
	margin:auto;
	background-color: #BEAE5D;
	width: 700px;
	height: 700px;
	box-shadow: inset 3px 3px rgba(0,0,0,0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:10px;
	margin-bottom: 15px;
}

.btn {
	border-radius: 50%;
	height:30px;
	width:30px;
	background-color: #323232;
}

.btn2{
	border-radius: 20%
}

.croix{
	height:15px;
	width:15px;
}

.dir{
	background-color:#323232;
	height:15px;
	width:15px;
}
.dir.hauteur{
	height:30px;
	width:20px;
}

.dir.cote{
	height:20px;
	width:30px;
}

img{
	max-width:100%;
	max-height:100%
}

#corentin{
	padding:0px 40px 0px 40px;
}
.map{
	width:100%;
	height:100%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.hero{
	width: 100% ;
	height: 100%;
	transform: scaleX(-1)
}

.cell{
	text-align: center;
	width:49px;
	height: 49px;
	
}
