@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,body{
    height: 100%;
    background:
    linear-gradient(
      rgba(24%, 48%, 80%, 0.9),
      rgba(24%, 48%, 80%, 0.9)
    ), url("http://wallpapercave.com/wp/ZqCwNUM.jpg");
  }

.outer-div
{
	padding: 30px;
}

.menu{
	text-align:center;
}
div{
	box-sizing: border-box;
}
.gb
{
	padding-top: 30px;
	background-color: #FEE125;
	margin: auto;
	width: 950px;
	height: 1500px;
	border-radius:10px;
	border:1px solid black;
	border-bottom-left-radius: 100%120px;
	border-bottom-right-radius: 100%120px;
}

.controllers {
	display: flex;
	width: 90%;
	margin: auto;
	height: 350px;
	justify-content: space-between;
	padding: 100px 70px 0px 70px;
}

.buttons_contener {
	width: 230px;
	display: flex;
	justify-content: space-between
}

#b_button {
	margin-top: 40px;
}

.screen_border {
	width: 900px;
	height: 900px;
	padding: 20px 75px 120px 75px;
	border-radius: 35px 35px 0px 0px;
	border-bottom-left-radius: 100%100px;
	border-bottom-right-radius: 100%100px;
	background-color: black;
	margin: auto;
	/*display: flex;*/
	justify-content: center;
}

.screen{
	margin:auto;
	background-color: #5D686E;
	height: 700px;
	box-shadow: inset 3px 3px rgba(102, 38, 38, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative
	/*margin-bottom: 15px;*/
}
.info{
	/*margin-top:-15px;*/
	background-color: #5D686E;
	height:100px;

}
.map{
	width:100%;
	height:100%;
}
.arrow {
	display: inline-block;
	width: 0;
	height: 0;
}

.arrow-up {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #121212;
}

.arrow-right {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 30px solid #121212;
}

.arrow-left {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 30px solid #121212;
}

.arrow-down {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid #121212;
}

.round {
	display: inline-block;
	background-color: #121212;
	width: 35px;
	height: 35px;
	border-radius: 100%;
}

.btn {
	color: #121212;
	cursor: pointer;
	border-radius: 100%;
	height:80px;
	width:80px;
	border: 1px solid black;
	box-shadow: black;
	font-size: 2em;
	background-color: #323232;
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 1);
}

.cross {
	margin-top: -20px;
}

.cross div {
	display: flex;
}

#middle {
	cursor: default;
}

.cross button {
	width: 65px;
	cursor: pointer;
	background-color: #323232;
	height: 65px;
	line-height: 0px;
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 1);
}

#haut, #bas {
	margin-left: 65px;
}

.start_select_contener {
	width: 180px;
	margin: auto;
}

.start_select_contener div {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.btn2{
	border-top-left-radius: 100%20px;
	border-top-right-radius: 100%20px;
	border-bottom-left-radius: 100%20px;
	border-bottom-right-radius: 100%20px;
	height: 20px;
	width: 50px;
}

.croix {
	height:15px;
	width:15px;
}

.dir{
	background-color:#323232;
	height:15px;
	width:15px;
}
.dir.hauteur{
	height:30px;
	width:20px;
}

.dir.cote{
	height:20px;
	width:30px;
}

img{
	max-width:100%;
	max-height:100%
}

#corentin{
	padding:0px 40px 0px 40px;
}


.hero{
	width: 100% ;
	height: 100%;
	transform: scaleX(-1);

}
.hero2{

}

.cell{
	text-align: center;
	width:49px;
	height: 49px;

}

.level{
	color: red
  }

  .hp{
	color: green
  }

.info_movie {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 5px;
}

#img_movie {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.box-top-left {
    position: absolute;
    width: 450px;
    height: 130px;
    border-radius: 10px;
    top: 20px;
    left: 20px;
    background: #F8F8D8;
    border: 6px solid #506860;
}

.box-bottom-right {
    position: absolute;
    width: 370px;
    height: 130px;
    border-radius: 10px;
    bottom: -80px;
    right: 20px;
    background: #F8F8D8;
    border: 6px solid #506860;
}

.box-bottom-left {
    position: absolute;
    width: 300px;
    height: 130px;
    border-radius: 10px;
    bottom: -80px;
    left: 20px;
    background: #F8F8D8;
    border: 6px solid #506860;
}

.moviemon {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    opacity: 0.7;
    font-size: 18px;
    font-family: "Roboto Condensed";
}

.movieball {
    text-align: left;
    margin-left: 25px;
    margin-top: 30px;
    opacity: 0.7;
    font-size: 18px;
    font-family: "Roboto Condensed";
}

.retour_worldmap {
    text-align: left;
    margin-left: 25px;
    margin-top: 0px;
    opacity: 0.7;
    font-size: 18px;
    font-family: "Roboto Condensed";
}

.hp-bar-top {
    position: absolute;
    bottom: 25px;
    height: 10px;
    width: 350px;
    left: 40px;
    border-radius: 20px;
    background: darkorange;
    opacity: 0.5;
}

.hp-bar-bottom {
    position: absolute;
    bottom: 25px;
    height: 10px;
    width: 270px;
    left: 40px;
    border-radius: 20px;
    background: darkorange;
    opacity: 0.5;
}

.level {
    position: absolute;
    right: 60px;
    top: 0px;
    opacity: 0.7;
    font-size: 16px;
    font-family: "Roboto Condensed";
}

.poster-top {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
}

.hp {
    position: absolute;
    right: 25px;
    bottom: -16px;
    opacity: 0.7;
    font-size: 16px;
    font-family: "Roboto Condensed";
}