<div class="cross">
    <div>
        <button id="haut" type="button" name='action' value='haut'>
            <span class="arrow arrow-up"></span>
        </button>
    </div>
    <div>
        <button type="button" name='action' value='gauche'>
            <span class="arrow arrow-left"></span>
        </button>
        <button type="button" value="" id="middle"><span class="round"></span></button>
        <button type="button" name='action' value='droite'>
            <span class="arrow arrow-right"></span>
        </button>
    </div>
    <div>
        <button id="bas" type="button" name='action' value='bas'>
            <span class="arrow arrow-down"></span>
        </button>
    </div>
</div>