{% extends 'game/base.html' %}

{% block screen %}
<div class="screen">
	<div class=menu>
        <h1> Moviemon : Gotta watch them all</h1>
        <h3>A : Load Game</h3>
        <h3>B : Cancel</h3>
        <hr>
        {% for elem in slots %}
        {% if elem.target == True %}
        <h3 style="border: 2px solid black;padding: 10px;">Slot {{elem.case}} : {{elem.status}}</h3>
    {%else%}
       <h3>Slot {{elem.case}} : {{elem.status}} </h3>
    {% endif %}
        {% endfor %}
	</div>
{% endblock %}

{% block cross %}
	
{% include 'game/active_cross.html' %}

{% endblock %}

{% block a_button %}
    <button id="a_button" class="btn" type='submit' name='action' value='A'>A</button>
{% endblock %}

{% block b_button %}
    <button id="b_button" class="btn" type='submit' name='action' value='B'>B</button>
{% endblock %}